@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,700;0,800;1,100;1,200;1,300;1,400;1,500&display=swap");
/*PADDING all axis*/
/*Y axis padding*/
/*X axis padding*/
/*Y axis margin*/
/*X axis margin*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: raleway, sans-serif;
  line-height: 30px;
  background: #041c40;
  color: #fff;
}

h1 {
  font-size: 40px;
  font-weight: 500;
  line-height: 50px;
}

h2 {
  font-size: 25px;
  font-weight: 500;
}

h3 {
  font-size: 20px;
  font-weight: 600;
}

p {
  font-size: 17px;
}

.container {
  max-width: 1150px;
  margin: auto;
  padding: 100px 0;
}

.newsletter-updates .updates-form form button, .process button, .video .video-description button, #navbar .btn-primary {
  color: #eff7f4;
  background-color: #03dfa3;
  border-radius: 5px;
  font-size: 18px;
  border: none;
  height: 40px;
  padding: 0 20px;
}

#navbar {
  height: 80px;
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 9999;
  transition: all 0.6s ease 0s;
}
#navbar .container {
  padding: 10px;
}
#navbar .navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #eff7f4;
  padding: 0px 30px;
}
#navbar .nav-links {
  display: flex;
}
#navbar .nav-link-items a {
  display: flex;
  padding: 15px;
  color: #eff7f4;
  text-decoration: none;
}
#navbar .btn-primary {
  height: 40px;
  margin: auto;
}

.nav-colored {
  background-color: #041c40;
  color: #fff;
}

.nav-transparent {
  background-color: transparent;
}

/*responsive design */
@media screen and (max-width: 950px) {
  #navbar {
    height: 110px;
  }
  #navbar .navigation {
    flex-direction: column;
  }
  #navbar .navigation .nav-link-items {
    text-overflow: ellipsis;
  }
}
@media screen and (max-width: 600px) {
  #navbar {
    height: 115px;
  }
  #navbar .nav-link-items a {
    padding: 10px;
  }
  #navbar .btn-primary {
    font-size: 18px;
    height: 50px;
    padding: 5px;
  }
}
header {
  background: linear-gradient(to right, #1646aa, #05204d);
}
header .header-intro {
  display: flex;
  background-image: url("../../images/header-footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}
header .header-intro .header-width {
  display: flex;
}
header .header-intro .header-description {
  width: 60%;
  padding: 70px;
}
header .header-intro .header-description h1 {
  font-size: 40px;
  letter-spacing: 2px;
  line-height: 61px;
  margin-top: 150px;
}
header .header-intro .header-description p {
  padding-top: 50px;
  font-size: 20px;
  margin-bottom: 30px;
}
header .header-intro .header-description .header-description_buttons img {
  margin-right: 20px;
}
header .header-intro .header-img {
  width: 40%;
}
header .header-intro .header-img img {
  margin-top: 70px;
  padding-top: 40px;
  width: 400px;
}

/*responsive design */
@media screen and (max-width: 950px) {
  header .header-intro .header-description h1 {
    margin-top: 50px;
  }
  header .header-intro .header-img img {
    padding-right: 100px;
  }
}
@media screen and (max-width: 768px) {
  header .header-intro .header-width {
    display: flex;
    flex-direction: column;
  }
  header .header-intro .header-description {
    width: 100%;
    padding: 30px;
  }
  header .header-intro .header-description h1 {
    font-size: 30px;
    margin-top: 0px;
  }
  header .header-intro .header-img {
    width: 100%;
  }
  header .header-intro .header-img img {
    display: block;
    margin: auto;
  }
}
.right-circle {
  height: 600px;
  width: 600px;
  border-radius: 100%;
  background: #05204d;
  position: absolute;
  left: -250px;
  bottom: 10%;
}

.left-circle {
  height: 700px;
  width: 700px;
  border-radius: 100%;
  background: #05204d;
  position: absolute;
  right: -350px;
  bottom: 20%;
}

.right-circle {
  z-index: -2;
}

.left-circle {
  z-index: -2;
}

.about {
  text-align: center;
  background: #041c40;
  position: relative;
  z-index: -1;
  overflow: hidden;
}
.about .about-img {
  height: 100px;
}
.about .about-title {
  width: 60%;
  margin: auto;
}
.about .about-title h1 {
  padding: 30px 0;
}
.about .about-title p {
  color: #cecece;
}
.about .services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
  margin: 100px 0;
}
.about .services .services-item {
  text-align: left;
}
.about .services .services-item img {
  padding: 20px 0;
}
.about .services .services-item p {
  font-size: 16px;
  color: #cecece;
  padding: 20px 0;
}

.process {
  background: #05204d;
}
.process .container {
  display: flex;
}
.process .container .process-proc {
  width: 75%;
}
.process .container .process-img {
  display: flex;
  justify-content: flex-end;
  width: 25%;
}
.process .container .process-img img {
  width: 100%;
}
.process h1 {
  padding: 30px 0;
}
.process p {
  color: #cecece;
}
.process ul {
  padding: 40px 0;
}
.process li {
  padding: 20px 0;
  display: flex;
  align-items: center;
}
.process li:first-child, .process li:last-child {
  background: linear-gradient(to right, #05204d, #1646aa);
}
.process li .proc-num {
  padding-right: 50px;
  font-weight: 600;
  color: #1f62d0;
}
.process li .process-description {
  padding-right: 40px;
}
.process button {
  width: 220px;
}

.video .video-description button {
  width: 230px;
  margin-top: 30px;
}

.video {
  width: 90%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 50px;
}

/*responsive design */
@media screen and (max-width: 950px) {
  .video {
    grid-template-columns: 1fr;
  }
}
.table {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.table-title {
  width: 50%;
  text-align: center;
}

.main-table {
  display: grid;
  grid-template-columns: 50% 23.5% 3% 23.5%;
  padding: 80px 0;
}
.main-table .empty {
  height: 200px;
  border-bottom: 0.5px solid #1f62d0;
}
.main-table .empty:first-child {
  height: 100px;
}
.main-table .empty:last-child {
  border-bottom: none;
}
.main-table .table-cols:first-child .table-rows:first-child {
  border: none;
  border-bottom: 0.5px solid #1f62d0;
  height: 100px;
}
.main-table .table-cols:first-child .table-rows {
  border-top: none;
  border-left: none;
  border-right: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 30px;
}
.main-table .table-cols:first-child .table-rows:last-child {
  border-bottom: none;
}
.main-table .table-cols:nth-child(2) .table-rows:first-child {
  border-top: 0.5px solid #1f62d0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  height: 100px;
}
.main-table .table-cols:nth-child(2) .table-rows:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-table .table-cols:nth-child(2) .table-rows {
  border-top: none;
  background: linear-gradient(to right, #05204d, #1646aa);
  display: flex;
  justify-content: center;
  align-items: center;
  color: #03dfa3;
}
.main-table .table-cols:nth-child(4) .table-rows:first-child {
  border-top: 0.5px solid #1f62d0;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  height: 100px;
}
.main-table .table-cols:nth-child(4) .table-rows:last-child {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.main-table .table-cols:nth-child(4) .table-rows {
  border-top: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-table .table-rows {
  height: 200px;
  border: 0.5px solid #1f62d0;
}

/* newsletter */
.newsletter .container {
  max-width: unset;
}
.newsletter .container .newsletter-advertise-background {
  background-image: url("../../images/header-footer-bg.svg");
  background-size: cover;
  margin-bottom: 100px;
}
.newsletter .container .newsletter-advertise-background .newsletter-advertise {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  max-width: 1150px;
  margin: 0 auto;
}
.newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-description {
  width: 70%;
}
.newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-description h2 {
  padding-top: 50px;
  font-size: 35px;
  letter-spacing: 2px;
}
.newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-description p {
  padding-top: 50px;
  font-size: 30px;
}
.newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-description .advertise-description_buttons {
  margin-top: 30px;
}
.newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-img img {
  padding-top: 30px;
  width: 200px;
}

/*  updates */
.newsletter-updates {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 1150px;
  margin: auto;
}
.newsletter-updates .updates-form form {
  display: flex;
  width: 550px;
  height: 50px;
}
.newsletter-updates .updates-form form input[type=email] {
  height: 50px;
  width: 100%;
  padding: 0 16px;
  background: #242f3e;
  border: none;
  color: #fff;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.newsletter-updates .updates-form form button {
  border-radius: 0;
  width: 70%;
  height: 100%;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

/*responsive design */
@media screen and (max-width: 950px) {
  .newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-description h2 {
    padding-top: 50px;
    font-size: 25px;
    letter-spacing: 2px;
  }
  .newsletter .container .newsletter-advertise-background .newsletter-advertise .advertise-description p {
    padding-top: 50px;
    font-size: 20px;
  }

  .newsletter-updates {
    flex-direction: column;
    align-items: center;
  }
  .newsletter-updates .updates-form form {
    width: 450px;
  }
  .newsletter-updates .updates-form form button {
    width: 40%;
  }
}
/*responsive design */
@media screen and (max-width: 450px) {
  .newsletter-advertise {
    flex-direction: column;
  }

  .newsletter-updates .updates-form form {
    flex-direction: column;
    width: 350px;
  }
  .newsletter-updates .updates-form form button {
    width: 100%;
  }
}
.external-links {
  display: flex;
  justify-content: space-between;
}

.external-links_columns ul {
  list-style: none;
}

.social_icons a {
  text-decoration: none;
}

.external-links_columns a {
  text-decoration: none;
  color: #eff7f4;
}

.social_icons {
  margin-top: 1em;
  margin-bottom: 1em;
}

.social_icons li {
  display: inline;
  padding: 0 10px 0 0;
}

.social_icons li:hover {
  filter: brightness(300%);
}

.disclaimer {
  line-height: 100%;
}

.disclaimer p {
  margin-top: 1em;
  margin-bottom: 1em;
  color: #e7e7f1;
  font-size: 10px;
  opacity: 0.5;
}

footer hr {
  opacity: 0.3;
}

/*responsive design */
@media screen and (max-width: 450px) {
  .external-links_columns a {
    padding: 2px;
    margin: 5px;
    font-size: 11px;
  }

  h4 {
    font-size: 14px;
  }
}
.wrapper {
  display: flex;
}
.wrapper h1 {
  font-size: 40px;
  margin-top: 40px;
}
.wrapper p {
  margin-top: 20px;
}
.wrapper .trading-image {
  padding: 30px;
}

.wrapper {
  display: flex;
}
.wrapper h1 {
  font-size: 40px;
  margin-top: 100px;
}
.wrapper p {
  margin-top: 25px;
  width: 360px;
  font-size: 18px;
}
.wrapper .affiliate-image {
  margin-top: 200px;
  margin-left: 100px;
}

section {
  padding: 20px;
}
section h1 {
  text-align: center;
  margin-bottom: 50px;
}
section tr {
  width: 20%;
}
section td {
  width: 20%;
  text-align: center;
  padding-bottom: 60px;
}
section td p {
  width: 250px;
  margin-left: 60px;
}

.markets-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.markets-table thead {
  background-color: #0a6af1;
  font-size: 15px;
}
.markets-table th {
  padding: 5px;
  border: 1px;
}
.markets-table td {
  padding: 15px;
  border-bottom: 1px solid #0a6af1;
  border-collapse: collapse;
}

.markettitle {
  width: 65%;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
}

.marketicons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.marketicons .icon {
  display: flex;
}
.marketicons .icon img, .marketicons .icon h4 {
  padding: 20px 10px;
}

/*# sourceMappingURL=styles.css.map */
