$primary-bg: #041c40;
$secondary-bg: #05204d;
$tertiary-bg: #1646aa;
$fourthtiary-bg: #1f62d0;
$download-button: #03dfa3;

$font-color-white: #fff;
$font-color-dirtywhite: #eff7f4;
$font-color-gray: #cecece;
