$h1-padding: 30px 0;

$height-50: 50px;

/*PADDING all axis*/
$padding-10: 10px;
$padding-20: 20px;

/*Y axis padding*/
$paddingY-20: 20px 0;
$paddingY-40: 40px 0;
$paddingY-60: 60px 0;
$paddingY-80: 80px 0;
$paddingY-100: 100px 0;
/*X axis padding*/
$paddingX-20: 20px 0;
$paddingX-40: 40px 0;
$paddingX-60: 60px 0;
$paddingX-80: 80px 0;
$paddingX-100: 100px 0;
/*Y axis margin*/
$marginY-20: 20px 0;
$marginY-40: 40px 0;
$marginY-60: 60px 0;
$marginY-80: 80px 0;
$marginY-100: 100px 0;
/*X axis margin*/
$marginX-20: 20px 0;
$marginX-40: 40px 0;
$marginX-60: 60px 0;
$marginX-80: 80px 0;
$marginX-100: 100px 0;
