.markets-table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
  thead {
    background-color: rgb(10, 106, 241);
    font-size: 15px;
  }

  th {
    padding: 5px;
    border: 1px;
  }

  td {
    padding: 15px;
    border-bottom: 1px solid rgb(10, 106, 241);
    border-collapse: collapse;
  }
}
.markettitle {
  width: 65%;
  text-align: center;
  padding: 30px;
  margin: 0 auto;
}
.marketicons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  .icon {
    display: flex;
    img,h4 {
      padding: 20px 10px;
    }
  }
}
